    <div class="row">
    <app-category [searchType]="searchType"></app-category>
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">      
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <app-search [searchType]="searchType"(change)="searchMovies($event)"></app-search>
    <div *ngIf="searchRes">
      <h3 class="orange-text">Search Results</h3>
      <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of searchRes | paginate: { itemsPerPage: 8, currentPage: p }; let i = index;">
          <movie-card [movie]="movie" type="movie">></movie-card>
        </div>
      </div>
      <pagination-controls *ngIf="searchRes.length>8" (pageChange)="p = $event" ></pagination-controls>
    </div>

    <div *ngIf="!searchRes">
      <h3 class="orange-text">Up Coming Movies</h3>
      <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies | paginate: { itemsPerPage: 8, currentPage: p }; let i = index;">
          <movie-card [movie]="movie" type="movie">></movie-card>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
  </div>

