.navbar-inverse {
  background-color: #ff424f;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #fd0011;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #fd0011;
}
