  <div class="row">
  <app-category [searchType]="searchType"></app-category>
  
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <app-search [searchType]="searchType" (changeSeries)="searchSeries($event)"></app-search>


        <div *ngIf="searchRes">
          <h3 class="orange-text">Résultats de la recherche</h3>
          <div class="row is-flex">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let serie of searchRes | paginate: { itemsPerPage: 8, currentPage: pRecherche , id:'pRecherche' }; let i = index;">
              <serie-card [serie]="serie"></serie-card>
            </div>
          </div>
          <pagination-controls id="pRecherche" searchRes.length>8" (pageChange)="pRecherche = $event"></pagination-controls>
        </div>

        <div *ngIf="!searchRes" class="row is-flex">
          <h3 *ngIf="!searchRes" class="orange-text">Series les mieux notés</h3>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let serie of topRatedList | paginate: { itemsPerPage: 4, currentPage: pBest, id:'pBest' }; let i = index;">
            <serie-card [serie]="serie"></serie-card>
          </div>
          <pagination-controls id="pBest" (pageChange)="pBest = $event"></pagination-controls>
        </div>
        
        <div *ngIf="series">
          <h3 class="orange-text">Séries populaires</h3>
          <div class="row is-flex">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let serie of series | paginate: { itemsPerPage: 4, currentPage: pPopulaire, id:'pPopulaire' }; let i = index;">
              <serie-card [serie]="serie"></serie-card>
            </div>
          </div>
          <pagination-controls id="pPopulaire" (pageChange)="pPopulaire = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
