<app-category [searchType]="searchType"></app-category>
<div *ngIf="movies">
  <h3 class="orange-text">{{title}}</h3>
  <div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies | paginate: { itemsPerPage: 6, currentPage: p }; let i = index;">
      <movie-card [movie]="movie"></movie-card>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant" ></pagination-controls>
  <div *ngIf="series">
      <h3 class="orange-text">{{title}}</h3>
      <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let serie of series | paginate: { itemsPerPage: 6, currentPage: p }; let i = index;">
          <serie-card [serie]="serie"></serie-card>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant" ></pagination-controls>
</div>