img {
    width: 100%;
}
.card .card-title {
    font-size: 15px;
    font-weight: 300;
}

.text-ellipsis {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageItem {
    width: 260px;
    height: 400px;
}