<div class="thumbnail">
        <img src="https://image.tmdb.org/t/p/w300/{{season.poster_path}}" *ngIf="season.poster_path">
        <img src="../../../assets/abstract-image.jpg" *ngIf="!season.poster_path">
        <div class="caption">
          <h4 class="text-ellipsis">
            <a title="Season {{season.season_number + 1}}">Season {{season.season_number + 1}} <small>({{season.episode_count}} Episodes)</small></a>
          </h4>
          <p><strong>Air Date: </strong>{{season.air_date}}</p>
          <p>
            <a>View details &raquo;</a>
            <small class="label label-success pull-right">
              {{serie.vote_average}}
              <i class="glyphicon glyphicon-star"></i>
            </small>
          </p>
        </div>
      </div>
