<div class="row" *ngIf="person">
    <app-category [searchType]="searchType" ></app-category>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="https://image.tmdb.org/t/p/w300/{{person.profile_path}}" *ngIf="person.profile_path">
      <img src="../../../assets/abstract-image.jpg" *ngIf="!person.profile_path">
      <div class="caption">
        <h4 class="text-ellipsis">
          {{person.name}}
        </h4>
        <p><strong>Date de naissance: </strong>{{person.birthday}}</p>
        <p><strong>Lieu de naissance: </strong>{{person.place_of_birth}}</p>
        <p>
          <strong>Popularité</strong>
          <small class="label label-success pull-right">
              {{person.popularity}}
              <i class="glyphicon glyphicon-star"></i>
            </small>
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="person.biography" class="col-md-7">
      <br>
      <br>
      <br>
      <h3 class="orange-text" style="color: #ff424f" >Biographie</h3>
      <p>{{person.biography}}</p>
      <br>
      <p *ngIf="person.also_known_as" ><strong *ngIf="person.also_known_as" style="color: #ff424f" >Akwa: </strong>{{person.also_known_as}}</p>
      <br>
      <a *ngIf="person.homepage" href="{{person.homepage}}" class="btn btn-info" target="_blank">Visitez le site web de {{person.name}} </a>
  </div>
  <div *ngIf="movies"  class="col-md-7">
    <h3 class="orange-text">Films</h3>
    <div class="row is-flex">
      <div class="col-sm-3" *ngFor="let movie of movies | paginate: { itemsPerPage: 4, currentPage: p } ; let i = index;">
        <movie-card [movie]="movie"></movie-card>
      </div>
      <pagination-controls *ngIf="movies.length>4" (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant" ></pagination-controls>
    </div>
  </div>
</div>