<br>
<div class="row">
    <app-category [searchType]="searchType"></app-category>  
  <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
    <div class="row" *ngIf="movie">
      <div class="col-md-4">
        <img *ngIf="movie.poster_path"src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail">
        <img *ngIf="!movie.poster_path" src="./../../../assets/abstract-image.jpg" routerLink="/movie/{{movie.id}}" >
        <p>
          <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block" target="_blank">Visit Movies Website</a>
        </p>
      </div>
      <div class="col-md-8">
        <h2>{{movie.title}}
          <small class="label label-warning">
            {{movie.vote_average}}
            <i class="glyphicon glyphicon-star"></i>
          </small>
        </h2>
        <p>{{movie.tagline}}</p>
        <p>
          <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres" class="label label-info m-r-md">
            {{genre.name}}
          </a>
        </p>
        <h3>Overview</h3>
        <p>
          {{movie.overview}}
        </p>
        <!--Casts-->
        <div class="row is-flex" *ngIf="cast && cast.length > 0">
          <div class="col-md-12">
            <h3 class="text-center">Cast</h3>
          </div>
          <div class="col-md-3" *ngFor="let actor of cast">
            <app-actor-card [actor]="actor"></app-actor-card>
          </div>
        </div>
        <!--Casts-->
      </div>
    </div>
    <!--Trailer-->
    <div class="row" *ngIf="video">
      <div class="col-md-8 col-md-offset-2">
        <h2>{{video.name}}</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="video.url"></iframe>
        </div>
      </div>
    </div>
    <!--Trailer-->
    <!--Similar Movies-->
    <div class="row is-flex" *ngIf="similarMovies && similarMovies.length > 0">
      <div class="col-md-12">
        <h2>Similar Movies</h2>
      </div>
      <div class="col-md-2" *ngFor="let movie of similarMovies | paginate: { itemsPerPage: 6, currentPage: p }">
        <movie-card [movie]="movie"></movie-card>
      </div>
      <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
    <!--Similar Movies-->
  </div>
</div>
